html, body{
    background-color: white; 
    /* height: 100%;
    width: 100%; */
    scroll-behavior: smooth;

}

.bg-nav{
background-color: midnightblue;
}
#offset{
    color: whitesmoke;
}
#hamburger{
    color: whitesmoke;
}
.navbar-nav li {
    padding-right: 20px;
    padding-top: 8px;

}

.nav-link {
    font-size: 1.1em !important;
}

.navbar-brand{
max-height: 50px;
}

.jumbotron{
    background-image: url("images/miami-sky.jpg");
    background-size: cover;
    height: 830px;
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end; 
    margin-top: 3rem;
}

.jumbotron h1{
    font-size: 40px;
    text-shadow: 4px 4px indigo
}


.topHeader {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}
a { 
    color: white;
    text-decoration: none ;
    }

a:hover
    {
      text-decoration:none;
      cursor:pointer;
     }  

#miamiCondo{
    font-weight: 800;
}
#miamiBest{
    font-size: 55px;
    text-align: center;
}

#miamiText{
    font-size: 27px;
}

#blueText{
    color: rgb(0, 162, 255)
} 

.gallery{
    background-color: lightgrey;
    margin-top: 1.5rem;

} 
#sectitle{
    text-align: center;
    margin: 2rem 1rem;

}
#clients{
    text-align: center;
    margin: 2rem 3rem;
}

.card-img-top{
    width: 100%;
    height: 350px;
}

.view{
    display: flex;
    justify-content: center;
    margin: 2rem 3rem;
}


#yacht{
    width: 100%;
    height: auto;
    margin-top: 3rem;
}


#howlong{
    width: 425px;
    font-size: 22px;
}
.howlong{
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;   
}  


#name{
    margin: 5px;
    text-align: center;
    font-size: 12px;
    width: 350px;
    padding: 8px 8px;
    background-color: lightgrey;
}
#phone{
    margin: 5px;
    text-align: center;
    font-size: 12px;
    width: 350px;
    padding: 8px 8px;
    background-color: lightgrey;
} 
#email{
    margin: 5px;
    text-align: center;
    font-size: 12px;
    width: 350px;
    padding: 8px 8px;
    background-color: lightgrey;
} 

#message{
    margin: 5px;
    text-align: center;
    font-size: 12px;
    width: 350px;
    padding: 8px 8px;
    background-color: lightgrey;
    height: 140px;
}

#submit{
    margin: 1rem 2rem;
    width: 250px;
}

#viewAll{
    font-size: 3vh;
    width: 50%;
}

 /* OFFSET ANCHORS CODE  */
:target:before {
    content:"";
    display:block;
    height:67px; /* fixed header height*/
    margin:-67px 0 0; /* negative fixed header height */
    }



 @media (max-width: 1500px){
    #navbarDiv{
        margin-right: 13rem;
    }

    .jumbotron{
        height: 725px;
        width: 100%;
    } 
    .jumbotron h1{
        font-size: 35px;
    }

  
    #miamiBest{
        font-size: 50px;
        margin: 4rem 1rem;
    }
    #miamiText{
        display: flex;
        flex-direction: column;
        font-size: 22px;
        margin-left: 1rem;
        margin-top: 2rem;
    }

    #viewAll{
        font-size: 2vh;
        width: 31%;
    } 

    #call{
        display: flex;
        justify-content: center;
    }

    .container2{
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        margin-top: 3rem;
    }

    #sectitle{
        text-align: center;
        margin: 4rem 1rem;
        font-size: 40px;
    }
    .card-deck {
        margin:0;
    }


}

@media (max-width: 768px){ 
    .jumbotron{
        height: 500px;
        width: 100%;
    } 
    .jumbotron h1{
        font-size: 25px;
    }

    #miamiBest{
        font-size: 30px;
    }
    #miamiText{
        display: flex;
        flex-direction: column;
        font-size: 16px;
        margin-left: 1rem;
    }

    .topHeader {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 576px){ 
    .jumbotron{
        height: 500px;
        width: 100%;
    }

    #viewAll {
        font-size: 3vh;
        width: 50%;
    }

    .topHeader {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    #sectitle {
        text-align: center;
        margin: 4rem 1rem;
        font-size: 40px;
    } 

    #call{
        display: inherit
    }

    .container2{
        display: inherit
    }

    .howlong {
        font-size: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
}

